@import '../../../assets/scss/abstracts/abstracts-dir.scss';

nav {
    &.navbar {
        /* align-items: center; */
        border-right: 1px solid rgba(0, 0, 0, .1);
        // box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, .3), 0px 1px 3px 1px rgba(60, 64, 67, .15);
        color: rgba(0, 0, 0, .54);
        display: flex;
        font-size: 14px;
        font-weight: 500;
        height: 4.375rem;
        box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
        /* justify-content: center; */
        /* line-height: 20px; */
        padding: 0 24px;
        width: 100%;
        white-space: nowrap;
        background-color: $white;
        clip-path: inset(0 -0.15rem -1.17rem 0px);
    }

    .menu-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;

        border-radius: 0.25rem;

        i {
            color: rgba(0, 0, 0, .54);
            ;
        }
    }

    .user-detail {
        li {
            padding: 9px;

            a {
                vertical-align: sub;

                i {
                    vertical-align: middle;
                }

                color: rgba(0, 0, 0, .54);
                ;
                text-decoration: unset;
            }

            +li {
                border-left: 2px solid rgba(0, 0, 0, .54);
                ;
            }
        }
    }
}